<%= errorMessage %> 
<h1>New Invoice</h1>
<div id="invoice-form-container">
    <form action="/invoices/create" method="POST">
        <label for="clientName">Client: </label>
        <select id="clientName" name="clientName">
            <% profiles.forEach(profile => { %>
                <option value="<%= profile._id %>"><%= profile.name %></option>
            <% }) %>
        </select>
        <label for="invoiceNumber">Invoice Number: </label>
        <input id="invoiceNumber" name="invoiceNumber" type="text" value="<%= invoice.invoiceNumber %>">
        <label for="issueDate">Issue Date: </label>
        <input id="issueDate" name="issueDate" type="date" value="<%= invoice.invoiceDate %>">
        <label for="dueDate">Due Date: </label>
        <input id="dueDate" name="dueDate" type="date" value="<%= invoice.invoiceDueDate %>">
        <label for="invoiceProduct">Products: </label>
        <select id="invoiceProduct" name="invoiceProduct">
            <% products.forEach(product => { %>
                <option value="<%= product._id %>"><%= product.productName %> <%= product.unitPrice %></option>
            <% }) %>
        </select>
        <label for="itemAmount">Quantity: </label>
        <input id="itemAmount" name="itemAmount" type="number" value="<%= invoice.itemAmount %>">
        <button class="btn btn-success" type="button" onclick="addLineItem()">+ Add Another Line Item</button>
        <button class="btn btn-info" type="submit" value="Submit">Save</button>
    </form>
    <a class="cancelBtn" href="/invoices"><button class="btn btn-danger">Cancel</button></a>
</div>
<%= errorMessage %>