<h1>New Invoice</h1>
<div id="invoice-form-container">
    <form action="/invoices/create" method="POST">
        <div>
            <label for="clientName">Client: </label>
            <select id="clientName" name="clientName">
                <% profiles.forEach(profile => { %>
                    <option value="<%= profile._id %>"><%= profile.name %></option>
                <% }) %>
            </select>
        </div>
        <div>
            <label for="invoiceNumber">Invoice Number: </label>
            <input id="invoiceNumber" name="invoiceNumber" type="text" value="<%= invoice.invoiceNumber %>">
        </div>
        <div>
            <label for="issueDate">Issue Date: </label>
            <input id="issueDate" name="issueDate" type="date" value="<%= invoice.invoiceDate %>">
        </div>
        <div>
            <label for="dueDate">Due Date: </label>
            <input id="dueDate" name="dueDate" type="date" value="<%= invoice.invoiceDueDate %>">
        </div>
        <div>
            <input type="hidden" name="productIds[]" value="0">
            <input type="hidden" name="productQuantities[]" value="0">
        </div>
        <div class="product-qty">
            <label for="invoiceProduct">Products: </label>
            <div class="input-wrapper" class="line-item-row" id="line-items">
                <select id="invoiceProduct" name="productIds[]">
                    <% products.forEach(product => { %>
                        <option value="<%= product._id %>"><%= product.productName %></option>
                    <% }) %>
                </select>
                <label for="itemAmount">Quantity: </label>
                <input id="itemAmount" name="productQuantities[]" type="number" value="1">
            </div>  
        </div>
        <button class="btn btn-primary" type="button" id="addLineItem" onclick="addLineItems()">+ Add Another Line Item</button>
        <button class="btn btn-success" type="submit" value="Submit">Save</button>
        <a class="btn btn-danger" href="/invoices">Cancel</a>
    </form>
</div>
<%= errorMessage %>
<script>
    const addLineItems = () => {
        const lineItems = document.querySelectorAll(".input-wrapper");
        const lastLineItem = lineItems[lineItems.length - 1];
        const clonedLineItem = lastLineItem.cloneNode(true);
        document.getElementById("line-items").appendChild(clonedLineItem);
    }
</script>
