<!-- <h1>New Invoice</h1>
<div id="form-container">
    <form action="/invoices/create" method="POST">
        <label for="invoiceName">Name: </label>
        <input id="invoiceName" name="invoiceName" type="text" value=<%= invoice.invoiceName ? invoice.invoiceName : '' %>>
    
        <input type="hidden" id="invoice_id" name="invoice_id" value=<%= invoice._id %>>
        
        <label for="invoiceCompanyName">Company: </label>
        <input id="invoiceCompanyName" name="invoiceCompanyName" type="text" value=<%= invoice.invoiceCompanyName ? invoice.invoiceCompanyName : '' %>>
        
        <label for="invoiceEmail">Email: </label>
        <input id="invoiceEmail" name="invoiceEmail" type="text" value=<%= invoice.invoiceEmail ? invoice.invoiceEmail : '' %>>
    
        <label for="invoiceDate">Date: </label>
        <input id="invoiceDate" name="invoiceDate" type="date" value=<%= invoice.invoiceDate ? invoice.invoiceDate : '' %>>
    
        <label for="invoiceTotalDue">Balance: </label>
        <input id="invoiceTotalDue" name="invoiceTotalDue" type="text" value=<%= invoice.invoiceTotalDue ? invoice.invoiceTotalDue : '' %>>
        
        <label for="invoiceDueDate">Due Date: </label>
        <input id="invoiceDueDate" name="invoiceDueDate" type="date" value=<%= invoice.invoiceDueDate ? invoice.invoiceDueDate : '' %>>
        
        <label for="invoiceRate">Item Rate: </label>
        <input id="invoiceRate" name="invoiceRate" type="text" value=<%= invoice.invoiceRate ? invoice.invoiceRate : '' %>>
        
        <label for="itemAmount">Item Amount: </label>
        <input id="itemAmount" name="itemAmount" type="text" value=<%= invoice.itemAmount ? invoice.itemAmount : '' %>>      
        
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </form>
    <a href="/invoices"><button class="btn btn-primary">Back to Invoices</button></a>
</div>
<%= errorMessage %> -->
<h1>New Invoice</h1>
<div id="invoice-form-container">
    <form action="/invoices/create" method="POST">
        <label for="clientName">Client: </label>
        <select id="clientName" name="clientName">
            <% profiles.forEach(profile => { %>
                <option value="<%= profile._id %>"><%= profile.name %></option>
            <% }) %>
        </select>
        <label for="invoiceNumber">Invoice Number: </label>
        <input id="invoiceNumber" name="invoiceNumber" type="text" value="<%= invoice.invoiceNumber %>">
        <label for="issueDate">Issue Date: </label>
        <input id="issueDate" name="issueDate" type="date" value="<%= invoice.invoiceDate %>">
        <label for="dueDate">Due Date: </label>
        <input id="dueDate" name="dueDate" type="date" value="<%= invoice.invoiceDueDate %>">
        <label for="invoiceProduct">Products: </label>
        <select id="invoiceProduct" name="invoiceProduct">
            <% products.forEach(product => { %>
                <option value="<%= product._id %>"><%= product.productName %> <%= product.unitPrice %></option>
            <% }) %>
        </select>
        <label for="itemAmount">Quantity: </label>
        <input id="itemAmount" name="itemAmount" type="number" value="<%= invoice.itemAmount %>">
        <button type="button" onclick="addLineItem()">+ Add Another Line Item</button>
        <button type="submit" value="Submit">Save</button>
    </form>
    <a href="/invoices"><button>Cancel</button></a>
</div>
<%= errorMessage %>