<h1 id="pageHeading">New Client</h1>
<div id="form-container">
    <form action="/profiles/create" method="POST">   
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" value=<%= profile.name ? profile.name : '' %> >
        </div>
        <div>
            <label for="code">Code:</label>
            <input id="code" name="code" type="text" value=<%= profile.code ? profile.code : '' %> >
        </div>
        <div>
            <label for="company">Company:</label>
            <input id="company" name="company" type="text" value=<%= profile.company ? profile.company : '' %> >
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" name="email" type="text" value=<%= profile.email ? profile.email : '' %> >
        </div>
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </form>
</div>
<%= errorMessage %>
