<h1><%= profile_id ? "Edit" : "New" %> Profile</h1>
<div id="form-container">
    <form action="/profiles/edit<%= profile_id ? "/"+profile_id : "" %>" method="POST">   
        <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" 
                     value="<%= profile.name ? profile.name : '' %>" >
        <label for="code">code:</label>
        <input id="code" name="code" type="text" 
                     value="<%= profile.code ? profile.code : '' %>" >
        <label for="company">company:</label>
        <input id="company" name="company" type="text" 
                     value="<%= profile.company ? profile.company : '' %>" >
        <label for="email">email:</label>
        <input id="email" name="email" type="text" 
                     value="<%= profile.email ? profile.email : '' %>" >
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        <a href="/profiles"><button class="btn btn-primary">Back to Profiles</button></a>
    </form>
</div>

<%= errorMessage %>